.component {
  padding: 1rem;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.25rem;
}

.title {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--color-black);
  margin: 0 0 0.5rem 0;
}

.content {
  font-size: 0.9rem;
  color: var(--color-gray-600);
  margin: 0;
}
